/* === Hero Content Styling === */
.hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 60px;
}

/* === Hero Text Section Styling === */
.hero-text-container {
  z-index: 1;
  color: white;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.6); /* Greyish semi-transparent background */
  padding: 2rem;
  border-radius: 8px; /* Soft rounded corners */ 
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.hero-intro {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #cbd5e1;
  text-align: center;
}

.hero-summary {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #e2e8f0;
}

/* === Hero Hobbies Section Styling === */
.hero-hobbies-container {
  display: flex;
  flex-direction: column; /* Stacks the items vertically */
  align-items: center; /* Centers the items horizontally */
  gap: 0rem; /* Spacing between the hobby cards */
  margin-top: 2rem; /* Spacing from the previous section */
  max-width: 1000px;
  width: 100%;
}


.hero-hobbies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin-top: 3rem;
  max-width: 1000px;
  width: 100%;
}

.hobby-card {
  width: 200px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  border-radius: 8px;  /* Optional: Soft rounded corners */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);  /* Shadow for depth */
  transition: transform 0.3s ease;  /* Smooth transition for hover effect */

  content-visibility: auto;
  contain-intrinsic-size: 270px;
}

.hobby-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .hero-hobbies-list {
    flex-direction: column;
    align-items: center;
    gap: 1.0rem;
  }

  .hobby-card {
    width: 100%;
    height: 180px;
    margin-bottom: 1.0rem;

    contain-intrinsic-size: 180px;
  }
}
